:root {
  /* background-color: #b4df77; */
  --header-background-color: #9DBC98;
  --body-background-color: #F9EFDB;
  --text-color: #1E5457;
  --second-text-color: #43766C;  
  --thrid-color: #476d1e;
  --fourth-color: #EBD9B4;
  --fifth-color-dark: #334b1c;
}

 
