:root {
  --header-background-color: #9dbc98;
  --body-background-color: #f9efdb;
  --text-color: #1e5457;
  --second-text-color: #43766c;
  --thrid-color: #476d1e;
  --fourth-color: #ebd9b4;
  --fifth-color-dark: #334b1c;
}
