.episodes-list__container {
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--fourth-color);
    width: 10rem;
    min-height: 100vh;
    min-width: 10rem;
  }
  
  .episodes-list {
    padding-left: 0;
  }
  
  .episode-item {
    list-style: square;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .episode-item:hover {
    color: var(--second-color);
  }
  